params {
  project_folder      = "$PWD"
  chipfilter_raw_bam  = "/ictstr01/groups/idc/projects/uhlenhaut/jiang/pipelines/nf-picard/picard_output"
  chipfilter_output   = "chipfilter_output"
  samples_master      = null
  prefer_dedup        = true
  mapq_threshold      = 4
  blacklist_bed       = "/ictstr01/groups/idc/projects/uhlenhaut/jiang/pipelines/reference/blacklist/mm39.excluderanges.bed"
}

profiles {
  local {
    includeConfig 'configs/local.config'
  }
  hpc {
    includeConfig 'configs/slurm.config'
  }
}
