params {
  project_folder      = "$PWD"
  chipfilter_raw_bam  = null
  chipfilter_output   = "chipfilter_output"
  samples_master      = null
  prefer_dedup        = true
  mapq_threshold      = 24
  mail_user           = 'molendo.hpc@gmail.com'
  cpus                = 2
  memory              = '8 GB'
  time                = '8h'
}

profiles {
  local {
    includeConfig 'configs/local.config'
  }
  hpc {
    includeConfig 'configs/slurm.config'
  }
}
