params {

  project_folder = "$PWD"
  chipfilter_raw_bam = "/ictstr01/groups/idc/projects/uhlenhaut/jiang/pipelines/nf-picard/picard_output"
  chipfilter_output = "chipfilter_output"
  mapq_threshold = 10 // MPI setting
  blacklist_bed = null
}

profiles {
  local { includeConfig 'configs/local.config' }
  hpc   { includeConfig 'configs/slurm.config' }
}