params {
  container_chipfilter = "/ictstr01/groups/idc/projects/uhlenhaut/jiang/singularity_image/chipfilter-sam-bed.sif"

  cpus   = 2
  memory = '8 GB'
  time   = '8h'

  queue        = 'cpu_p'
  extra_mounts = ''
}

process {
  executor = 'slurm'
  queue          = params.queue
  clusterOptions = '--qos=cpu_normal --nice=10000 --mail-type=END,FAIL --mail-user=shan.jiang@helmholtz-munich.de'

  cpus   = params.cpus
  memory = params.memory
  time   = params.time

  container = params.container_chipfilter
  containerOptions = "--bind /ictstr01/groups/idc/projects/uhlenhaut/jiang:/ictstr01/groups/idc/projects/uhlenhaut/jiang ${params.extra_mounts}"


  withName: filter_multimappers {
    cpus   = 2
    memory = '8 GB'
    time   = '4h'
  }

  withName: filter_blacklist {
    cpus   = 2
    memory = '8 GB'
    time   = '4h'
  }

  withName: remove_mito {
    cpus   = 2
    memory = '8 GB'
    time   = '4h'
  }
}

singularity {
  enabled    = true
  autoMounts = true
}
